h1 {
    font-size: 4em;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper > div {
    padding: 16px;
}

main {
    display: flex;
    justify-content: center;
}

.pos {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

@media (max-width: 700px) {
    .wrapper {
        flex-direction: column;
    }
}
